@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&family=Rubik:wght@300;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  color: white;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

header {
  background-color: #3c00ff;
  padding: 20px;
  border-radius: 10px;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 28px;
}

main {
  margin: 20px;
}

section {
  background-color: #3200b8;
  margin-top:8px;
  padding: 20px;
  border-radius: 12px;
}

h2 {
  margin-bottom: 15px;
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  text-align: justify;
}

.content img {
  width: 160px;
  border-radius: 8px;
}

.text {
  flex: 1;
}

.map-info {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

iframe {
  border-radius: 8px;
}

.extra {
  text-align: left;
  font-size: 14px;
}

footer {
  margin: 20px;
}
button {
    border: 1px solid #210073;
    border-radius: 10px;
    background-color: #3D00D1;
    cursor: pointer;
    display: block;
    margin-top: 4px;
    margin-left: auto;
    margin-right: auto;
    block-size: 4rem;
    inline-size: 8rem;
    font-size: xx-large;
    color: white;
    animation: pulse 1.2s infinite;
}
@keyframes pulse {
    0% { box-shadow: 0 0 0 0 #3D00D1; }
    70% { box-shadow: 0 0 0 10px rgba(220,0,0,0); }
    100% { box-shadow: 0 0 0 0 rgba(220,0,0,0); }
}

a {
    text-decoration: none;
}
@media (max-width: 1000px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .content img {
    width: 100%;
    max-width: 280px;
    margin: 0 auto;
  }

  .text {
    text-align: justify;
    font-size: 16px;
  }

  .map-info {
    flex-direction: column;
    align-items: center;
  }

  iframe {
    width: 100%;
    max-width: 350px;
    height: 220px;
  }

  header h1 {
    font-size: 22px;
  }

  h2 {
    font-size: 18px;
  }

  button {
    inline-size: 6rem;
    block-size: 3rem;
    font-size: large;
  }
}