*{
    font-family: Arial, sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}
body {
    display: block;
    text-align: center;
    background-image: url('https://img.freepik.com/vetores-gratis/gradiente-de-fundo-de-quadro-de-arame-abstrato_23-2149009903.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    color: aliceblue;
}

p {
    text-align: justify;
    font-family: Arial, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgb(35, 0, 131);
}
li {
    list-style-type: none;
    margin: 10px 0;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
}

a{
    border: #000 1px solid;
    border-radius:10px;
    background-color: #00c3ff;
    text-decoration: none;
}

.a1{
    color: #00c3ff;
    font-size: 2rem;
    border: 1px solid transparent;
    background-color: rgb(136, 100, 237);
    border-radius: 10px;
    padding: 2px;
    display: inline-block;
    block-size: 3rem;
    inline-size: 5rem;
    text-align: center;
    text-size-adjust: 100%;
} 

.a2{
    color: #00c3ff;
    font-size: 2rem;
    border: 1px solid transparent;
    background-color: rgb(136, 100, 237);
    border-radius: 10px;
    padding: 2px;
    display: inline-block;
    block-size: 3rem;
    inline-size: 7rem;
    text-align: center;
    text-size-adjust: 100%;

}
.a3{
    color: #00c3ff;
    font-size: 2rem;
    border: 1px solid transparent;
    background-color: rgb(136, 100, 237);
    border-radius: 10px;
    padding: 2px;
    display: inline-block;
    block-size: 3rem;
    inline-size: 20rem;
    text-size-adjust: 100%;
}
.anima:hover > :not(:hover){
    opacity: .4;
    transform: scale(0.9);
     transition: .35s;
    cursor:pointer;
}

.icon {
      width: 60px;   
      height: 60px;
      background-image: url("https://images.icon-icons.com/2596/PNG/512/local_icon_155176.png"); 
      background-size: cover;
    }
div{
    display:block;
    block-size: 8rem;
    margin-left:auto;
}