@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    font-size: 1rem;
    margin: 0.2rem;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
    border-radius: 10px;    
    border: none;
}
body {
    display: block;
    text-align: center;
    background-image: url('https://img.freepik.com/vetores-gratis/gradiente-de-fundo-de-quadro-de-arame-abstrato_23-2149009903.jpg?semt=ais_hybrid&w=740&q=80');
    background-size: cover;
    color: aliceblue;
}
h1, h2 { 
    margin-top: 1rem;
    font-family: "Rubik", sans-serif;
    text-shadow: 8px 8px 14px cornflowerblue;
    font-size: 2rem;
} 
a{
    text-decoration: none;
}
p {
    text-align: justify;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 10px 0;
    border: 1px solid transparent;
    border-radius:  10px;
    background-color: rgb(136, 100, 237);
}
.a1,
.a2,
.a3 {
    padding-bottom: 2rem ;
    color: #00c3ff;
    font-size: 2rem;
    border: 0.2rem solid transparent;
    background-color: rgb(136, 100, 237);
    border-radius: 10px;
    display: inline-block;
    block-size: 4rem;
    transition: opacity 0.35s, transform 0.35s;
}

.a1 { inline-size: 5rem; }
.a2 { inline-size: 14rem; }
.a3 {
    inline-size: 18rem;
    margin-top: 0.5rem;
}

.anima:hover > :not(:hover) {
    opacity: .4;
    transform: scale(0.9);
    transition: .35s;
    cursor: pointer;
}
.icon {
      width: 60px;   
      height: 60px;
      background-image: url("https://cdn-icons-png.flaticon.com/512/1150/1150645.png"); 
      background-size: cover;
    }

@media screen and (max-wight: 700px) {
.a1,
.a2,
.a3 {
    padding-bottom: 0 ;
    color: #00c3ff;
    font-size: 2rem;
    border: 0.2rem solid transparent;
    background-color: rgb(136, 100, 237);
    border-radius: 10px;
    display: inline-block;
    block-size: 4rem;
    transition: opacity 0.35s, transform 0.35s;

}
} 